.footer {
  font-family: Arial;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-family: Arial;
}

.footer  svg {
  width: 30px;
  margin: 10px;
}

.footer p {
  margin: 0;
}
