@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@1&display=swap');


.header {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

}




.navigation {

  justify-content: center;
  margin: 10px;
  text-align: center;
}

.navigation .logo  {
  margin: 10px;
}
.navigation .logo img{
  width: 400px;
}

.header .navigation ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

}

.header .navigation ul li {
  margin: 0 20px;
}



.header .navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: 'Fruktur', cursive;
}

.header .navigation ul li a:hover {
  color: hotpink;
}

.navigation img#tour {
  width: 100px;
}

/* Code for tablet screen */
@media screen and (max-width: 1080px) {
  .navigation .logo img{
    width: 350px;
  }
  .header .navigation ul li {
    margin: 0 15px;
  }

  .header .navigation ul li a {
    font-size: 25px;
  }
  .navigation img#tour {
    width: 90px;
  }

}

/* Code for phone screen */
@media screen and (max-width: 720px) {
  .navigation .logo img{
    width: 280px;
  }
  .header .navigation ul li {
    margin: 0 10px;
  }
  .header .navigation ul li a {
    font-size: 15px;
  }
  .navigation img#tour {
    width: 65px;
  }

}
